/* Main collections page where user clicks collection thumbnail they want to view items of */
@import "../Mixins";

header {
	@include page-header(1px solid gray, auto, 164px);
	padding-top: 12px;
	padding-bottom: 12px;

	> #collectionsText {
		font-size: 20px;
		margin-left: 10px;
		margin-right: 40px;
	}

	> #checkboxes {
		@include flex-row;
		gap: 16px;
		position: absolute;
		right: 350px;
	}

	> #sortBtn {
		position: absolute;
		right: 100px;
	}
}

main {
	@include main(90px, 165px);
	@include available-width;
	display: grid;
	grid-gap: 20px;
	
	@media screen and (min-width: 600px) { grid-template-columns: repeat(2, 1fr); }
	@media screen and (min-width: 850px) { grid-template-columns: repeat(3, 1fr); }
	@media screen and (min-width: 1100px) { grid-template-columns: repeat(4, 1fr); }
	@media screen and (min-width: 1300px) { grid-template-columns: repeat(5, 1fr); }
	@media screen and (min-width: 1500px) { grid-template-columns: repeat(6, 1fr); }

	> a {
		@include available-width;
		position: relative;
		display: flex;
		flex-direction: column;

		> div {
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			overflow: hidden;
			width: 200px;
			height: 200px;
			background-color: $CoverBackground;
			border-radius: 4px;
		}

		> span {
			@include ellipsis;
			width: 200px;
			margin-top: 8px;
		}
	}
}
