/* Main collections page where user clicks collection thumbnail they want to view items of */
@import "../Mixins";

header {
	@include page-header(1px solid gray, auto, 164px);
	padding-top: 12px;
	padding-bottom: 12px;

	> #collectionsText {
		font-size: 20px;
		margin-left: 10px;
		margin-right: 40px;
	}

	> #checkboxes {
		@include flex-row;
		gap: 16px;
		position: absolute;
		right: 350px;
	}

	> #sortBtn {
		position: absolute;
		right: 100px;
	}
}

//https://stackoverflow.com/a/67327241
main {
	@include main(90px, 165px);
	@include available-width;
	margin-right: 24px;
	
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fill, 1fr);
	column-gap: 20px;
	row-gap: 35px;

	> a {
		@include flex-col;

		> div {
			@include flex-justify-center;
			overflow: hidden;
			min-width: 200px;
			min-height: 200px;
			max-width: 225px;
			max-height: 225px;
			aspect-ratio: 1/1;
			
			background-color: $CoverBackground;
			border-radius: 4px;
		}

		> span {
			@include ellipsis;
			width: 200px;
			margin-top: 8px;
		}
	}
}
