header > #collectionRenameDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: auto;
    left: 20%;
}

#collectionRenameDiv > .material-icons-outlined {
    margin-left: 20px;
}

#collectionRenameDiv > input[type="text"]:hover {
    border-bottom: 2px solid #dadce0;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}

#collectionRenameDiv > input[type="text"]:focus {
    border-bottom: 2px solid #4285f4;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}

#collectionRenameDiv > button {
    margin-left: 3px;
}