@import "../Shared";

h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

header {
    @include page-header(1px solid gray, 64px);
}

header > .iconBtn {
    margin-left: 5px;
    margin-right: 5px;
}

header > #statsDiv {
    position: absolute;
    left: 180px;
    display: flex;
    flex-direction: column;
}

header > #statsDiv > #errorAmount {
    color: red;
}

header > #addBtn {
    position: absolute;
    left: 350px;
}

header > #statusMessage {
    position: absolute;
    left: 900px;
}

header > #yearWarnInputs {
    position: absolute;
    right: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > #buttons {
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > #buttons > select {
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    outline: none;
    margin-right: 5px;
}

header > #buttons > select:focus {
    outline: 2px solid dodgerblue;
}

header > #buttons > .iconBtn {
    margin-left: 5px;
}

#mainDiv {
    margin-left: var(--left-margin);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 64px;
}

#mainDiv > .itemGroup {
    margin-top: 5px;
    margin-bottom: 5px;
}

#mainDiv > .itemGroup > .errorDiv {
}

#mainDiv > .itemGroup > .warnDiv {
}