@import "../Mixins";

header {
	@include page-header(1px solid gray, 60px);
	
	> #stats {
		@include flex-row;
		position: absolute;
		left: 230px;
		height: 100%;
		
		> div {
			@include flex-col;
			height: 44px;
			justify-content: space-between;
			margin-left: 12px;
			margin-right: 12px;
		}
	}
	
	> .iconTextBtn {
		position: absolute;
		left: 400px;
	}
	
	> div:last-of-type {
		@include flex-row;
		gap: 8px;
		position: fixed;
		right: 30px;
		
		> .dropdown {
			@include flex-col;
			width: max-content;
			padding: 8px;
			gap: 8px;
			
			> div:first-of-type, div:nth-of-type(2) {
				@include flex-row;
				
				> span {
					width: 70px;
				}
			}
		}
	}
}

main {
	@include flex-main(column, 64px);
	@include available-width;
	
	> .container {
		border-width: 4px;
		border-style: solid;
		border-radius: 4px;
		margin-top: 4px;
		margin-bottom: 4px;
		
		&.error { border-color: red }
		&.warning { border-color: yellow }
		&.none {
			border-width: 0;
			margin: 0;
		}
	}
}

