@import "../Shared";

header {
    @include page-header(0, 56px, 145px);
}

header > span {
    font-size: 20px;
    margin-right: 10px;
}

header > select {
    margin-right: 10px;
    color: white;
    background-color: black;
    outline: 2px solid white;
    border: none;
}

header > #randomBtn {
    margin-left: 5px;
}

main {
    @include flex-main(column, 170px, 80px);
}

main > span {
    font-size: 30px;
    display: block;
}

main > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

main > div > .thumbnail > .star-icon {
    position: absolute;
    left: 8px;
    bottom: 10px;
}

main > div > .thumbnail > .video-icon {
    position: absolute;
    right: 8px;
    top: 10px;
    pointer-events: none;
}

main > div > .thumbnail > img {
    height: 200px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}

main > div > .thumbnail {
    position: relative; /* https://stackoverflow.com/a/12365963 */
}

main > div > .thumbnail:hover {
    cursor: pointer;
}

main > div > .thumbnail > img {
    height: 200px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}