@import "../Shared";

#body {
	@include flex-col;
	justify-content: center;
	align-items: center;
	padding-top: 50px;

	> div {
		width: 40%;
		border: 3px solid white;
		padding: 15px;
		border-radius: 20px;
		margin-bottom: 25px;

		> span:first-of-type {
			display: block;
			text-align: center;
			margin-bottom: 10px;
			font-size: 24px;
		}

		> .iconTextBtn {
			margin-right: 5px;
			margin-bottom: 15px;
		}

		> .text-setting {
			margin-top: 4px;
			margin-bottom: 10px;

			> span, #statsDiv > span, #statsDiv > a {
				display: block;
				margin-bottom: 7px;
				padding: 0;
			}
		}

		> #statsDiv > #drivePercentage {
			@include flex-row;
			margin-bottom: 7px;

			> progress { margin-right: 10px; }
		}

		> #statsDiv > a {
			color: #0080ff;
			text-decoration: underline;
			text-underline: cadetblue;
		}

		> .toggle-setting {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 7px;

			> input[type="checkbox"] { margin-right: 4px; }
		}

		> .dropdown-setting {
			@include flex-row;
			margin-top: 12px;
			margin-bottom: 14px;

			> span { margin-right: 6px; }

			> select {
				background-color: black;
				border: 1px solid white;
				border-radius: 4px;
			}
		}

		> #thumbnail-settings {
			margin-top: 12px;
			margin-bottom: 14px;

			> #thumbnail-slider {
				@include flex-col;
				margin-right: 8px;
				margin-bottom: 4px;

				> input[type="range"] {
					width: 180px;
					margin-bottom: 7px;
				}
			}

			> #thumbnail-updating {
				@include flex-row;

				> span { margin-left: 8px; }

				> progress {
					margin-left: 2px;
					width: 180px;
				}
			}
		}
	}

	> #debugDiv > div:last-of-type {
		@include flex-col;
		margin-bottom: 20px;
	}
}