@import "../Shared";

h1 {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

header {
    @include page-header(0, 60px, 145px);
}

header > #selectedAmtText {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

header > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    right: 20px;
}

header > div > .iconTextBtn {
    margin-left: 10px;
}