@page "/"

<!DOCTYPE html>
<html>

<head>
    <!-- Basic Boilerplate -->
    <meta charset='utf-8'>
    <title>PSS</title>
    <base href="~/" />
    <link rel="icon" href="gphotos icon.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/PSS.css'>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body style="background-color: white; margin-left: 0; margin-top: 0;">
    <div class="photos-flex;"></div>
</body>
</html>