<div class="centeredDiv">
    <h1 class="centeredWhiteText">404. That's an error.</h1>
    <p class="centeredWhiteText">The requested URL was not found.</p>
    <a class="centeredBlueText " href="/"> Click me to go to the home page.</a>
</div>