<style>
    #centeredDiv {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -140px 0 0 -150px;
    }
    
    #centeredDiv > h1, #centeredDiv > p {
        color: white;
        text-align: center;
    }
    
    #centeredDiv > a {
        color: rgb(2, 97, 255);
        margin: auto;
        text-align: center;
        display: block; /*https://stackoverflow.com/questions/42669981/text-align-center-not-working-on-a-but-does-on-h1*/
    }
</style> 

<div id="centeredDiv">
    <h1>404. That's an error.</h1>
    <p>The requested URL was not found.</p>
    <a href="/"> Click me to go to the home page.</a>
</div>