@*A blank page just for testing stuff*@
@page "/test"

<title>Test - PSS</title>
@{
    <button style="margin-left: 50%; margin-top: 10%; color: black;" @onclick="@(Yes)">click me</button>
}

@code{

    private static void Yes()
    {
        C.InsertMedia("image1.jpg", DateTime.Now, null, true, false);
        C.InsertMedia("image2.png", null, null, false, false);
        C.InsertMedia("video1.mp4", DateTime.Now, null, false, false);
        C.InsertMedia("video2.mkv", null, null, true, false);
    }
}