@*A blank page just for testing stuff*@
@page "/test"
@using System.Diagnostics

<title>Test - PSS</title>
@{
    <button style="margin-left: 50%; margin-top: 10%; color: black;" @onclick="@(Yes)">click me</button>
}

@code{

    private static void Yes()
    {
        Stopwatch s = Stopwatch.StartNew();
        foreach (C.MediaRow mediaRow in Import.FindLibraryFilesWithSimilarName("413150_20210829220456_1"))
        {
            Console.WriteLine(mediaRow.path);
        }
        s.Stop();
        Console.WriteLine(s.ElapsedMilliseconds);
    }
}