@*A blank page just for testing stuff*@
@page "/test"
@using System.Threading

<title>Test - PSS</title>
@{
    <button style="margin-left: 50%; margin-top: 10%; color: black;" @onclick="@(Yes)">click me</button>
}

@code{

    private static void Yes()
    {
        C.ChangeAlbumType(5, false);
    }
}