@*A blank page just for testing stuff*@
@page "/test"
@using System.Diagnostics

<title>Test - PSS</title>
@{
    <button style="margin-left: 50%; margin-top: 10%; color: black;" @onclick="@(Yes)">click me</button>
}

@code{

    private static void Yes()
    {
        ImportFile file = new("C:/Users/Elliott/Pictures/PSS/pss_import/2d9a134474979e5b9762209e207fd107f53e605c.mp4");
        file.collections = new HashSet<Collection>();
        file.collections.Add(new Collection(4, "", ""));
        
        string tabDelimitedString = file.ToTabDelimitedString();
        var newFile = ImportFile.ParseTabDelimitedString(tabDelimitedString);
    }
    
}