@*A blank page just for testing stuff*@
@page "/test"
@using System.Diagnostics

<title>Test - PSS</title>
@{
    <button style="margin-left: 50%; margin-top: 10%; color: black;" @onclick="@(Yes)">click me</button>
}

@code{

    private static async void Yes()
    {
        Collection c = await C.GetCollectionDetailsAsync("1");
        Console.WriteLine(c.name);
    }
    
}