@*A blank page just for testing stuff*@
@page "/test"
@using System.Threading

<title>Test - PSS</title>
@{
    <button style="margin-left: 50%; margin-top: 10%; color: black;" @onclick="@(Yes)">click me</button>
}

@code{

    private static void Yes()
    {
        foreach(var yes in C.GetAlbumsItemIn(new Guid("d73cb3b6-edd9-11ec-908b-a7effc040a4b"))) Console.WriteLine(yes.ToString());
    }
}