@*A blank page just for testing stuff*@
@page "/test"
@using System.Diagnostics

<title>Test - PSS</title>
@{
    <button style="margin-left: 50%; margin-top: 10%; color: black;" @onclick="@(Yes)">click me</button>
}

@code{

    private static void Yes()
    {
        Console.WriteLine(F.GenerateThumbnail("C:/Users/Elliott/Pictures/PSS Dev/pss_library/2018/1/IMG_0632.JPG"));
        Console.WriteLine();
        Console.WriteLine();
        Console.WriteLine();
        Console.WriteLine(F.GenerateThumbnail("C:/Users/Elliott/Pictures/PSS/pss_library/2014/3/IMG_1729.mov"));
    }
    
}