@*A blank page just for testing stuff*@
@page "/test"
@using System.Threading

<title>Test - PSS</title>
@{
    <button style="margin-left: 50%; margin-top: 10%; color: black;" @onclick="@(Yes)">click me</button>
}

@code{

    private static void Yes()
    {
        C.AddToCollection(new Guid("56ff78b0-ef4d-11ec-8ea0-0242ac120002"), 4);
    }
}