@page "/upload"

<title>Upload - PSS</title>
<link href="css/Upload.css" rel="stylesheet"/>

@{
    pngPaths = Directory.GetFiles(S.uploadFolderPath, "*.png", SearchOption.AllDirectories);
    jpgPaths = Directory.GetFiles(S.uploadFolderPath, "*.jp*g", SearchOption.AllDirectories);
    allPaths = pngPaths.Concat(jpgPaths).ToArray();

    <div id="baseContainer">
        @if (allPaths.Length > 0)
        {
            <div id="applyContainer">
                <span>Items found on server waiting to be added</span>
                <button class="textBtn">
                    <span class="material-icons-outlined">add_photo_alternate</span><a href="apply-upload">Go to Upload Apply</a>
                </button>
            </div>
        }

        <div id="folderContainer">
            <span>Enter the path to a folder you want to upload</span><br><br>
            <input type="text" placeholder="Enter a folder path here" @bind="Folder" @bind:event="oninput"/>
            <span style="visibility: @cmdVisibility; margin-top: 40px">Run this command to upload your folder:</span>
            <span style="visibility: @cmdVisibility">@command</span>
        </div>
    </div>
}

@code {
    private static string[] pngPaths;
    private static string[] jpgPaths;
    private static string[] allPaths;

    private static string cmdVisibility = "hidden";
    private static string command = "";
    private static string _folder = "";

    private static string Folder
    {
        get => _folder;
        set
        {
            _folder = value;
            if (_folder == "")
                cmdVisibility = "hidden";
            else
            {
                cmdVisibility = "visible";
                command = $"scp {S.scpFlags} \"{_folder}\" \"{S.username}@{S.serverIP}:{S.uploadFolderPath}\"";
            }
        }
    }

}