@page "/upload"
@inject NavigationManager navigationManager;

<title>Upload - PSS</title>
<link href="css/Upload.css" rel="stylesheet"/>

@{
    <div id="mainDiv">
        @if (allPaths.Count > 0)
        {
            <span class="bigText">Items Found in pss_upload Waiting to Be Added to Library</span>
            <button class="textBtn">
                <span class="material-icons-outlined">add_photo_alternate</span><a href="apply-upload">Go to Upload Apply</a>
            </button>
        }
        
        <span class="bigText">Import a Folder in pss_upload Sorted with GPO</span>

        <button class="textBtn" @onclick="@(() => gpoFolderInputVis = "visible")">
            <span class="material-icons-outlined">drive_folder_upload</span><span>Click to Begin</span>
        </button>

        <input style="color: black; width: 650px; visibility: @gpoFolderInputVis" placeholder="Enter the Full Path to a GPO Folder" type="text" @bind="@GpoFolderPath" @bind:event="oninput"/>
        <span style="color: red; visibility: @errorSpanVis">Folder path is invalid</span>

        <button class="textBtn" style="visibility: @gpoBtnVis;">
            <span class="material-icons-outlined">add_photo_alternate</span><a href="gpo-import">Begin Importing</a>
        </button>
    </div>
}

@code {
    private static List<string> allPaths;

    private static string gpoFolderPath;

    public static string GpoFolderPath //Actually used in ImportGPOFolder.razor
    {
        get => gpoFolderPath;
        private set
        {
            gpoFolderPath = value;
            if (!String.IsNullOrWhiteSpace(value) && Directory.Exists(value))
            {
                errorSpanVis = "hidden";
                gpoBtnVis = "visible";
            }
            else
            {
                errorSpanVis = "visible";
                gpoBtnVis = "hidden";
            }
        }
    }

    private static string gpoFolderInputVis, errorSpanVis, gpoBtnVis;

    protected override void OnInitialized()
    {
        gpoFolderPath = "";
        gpoFolderInputVis = "hidden";
        errorSpanVis = "hidden";
        gpoBtnVis = "hidden";

        allPaths = F.GetSupportedFiles(S.uploadFolderPath);
    }

}