@page "/compressor"
@using System.Collections.Immutable

<title>Compressor - MM</title>
<link href="css/Pages/Compressor.css" rel="stylesheet"/>
<link href="css/Components/CompressorItem.css" rel="stylesheet"/>

<header>Compressing @F.GetPluralized(C.Items.Count + (C.Current != null ? 1 : 0), "Item")</header>

<main>
	@if (C.Current != null)
	{
		<CompressorItem Item="@C.Current"/>
	}

	@foreach (ImportItem item in C.Items.ToImmutableArray())
	{
		<CompressorItem Item="@item"/>
	}
</main>

@code {
	protected override void OnInitialized()
	{
	}
}