@page "/compressor"
@using System.Collections.Immutable

<title>Compressor - MM</title>
<link href="css/Pages/Compressor.css" rel="stylesheet"/>
<link href="css/Components/CompressorItem.css" rel="stylesheet"/>

<header>
	<span>@HeaderText</span>
	
	@if (!C.Compressing)
	{
		<IconTextButton Icon="compress" Text="Begin Compressing" OnClick="@C.BeginCompression"/>
	}
</header>

<main>
	@if (C.Current != null)
	{
		<CompressorItem Item="@C.Current"/>
	}

	@foreach (ImportItem item in C.Items.ToImmutableArray())
	{
		<CompressorItem Item="@item"/>
	}
</main>

@code {
	protected override void OnInitialized()
	{
		C.ItemEnqueued += (_, _) => InvokeAsync(StateHasChanged);
		C.ItemDequeued += (_, _) => InvokeAsync(StateHasChanged);
	}

	private static string HeaderText
	{
		get
		{
			string pluralized = F.GetPluralized(C.Items.Count + (C.Current != null ? 1 : 0), "Item");
			
			if (C.Compressing)
				return $"Compressing {pluralized}";

			if (!C.Compressing && C.Items.Count > 0)
				return $"Click to Begin Compressing {pluralized}";

			return "No Items to Compress";
		}
	}
}