/* Main albums page where user clicks album thumbnail they want to view items of */
* {
    user-select: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 5px;
    left: 171px;
    height: 56px;
    width: 100%;
    padding-bottom: 6px;
    border-bottom: 1px solid gray;
    background-color: black;
}

header > #albumsText {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
    margin-left: 10px;
    margin-right: 40px;
}

header > #checkboxes {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 470px;
    width: 150px;
}

header > #checkboxes > div {
    width: 130px;
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

header > #checkboxes > div > span {
    margin-left: 1px;
}

header > #sortBtn {
    position: absolute;
    right: 250px;
}

header > #sortDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 60px;
    right: 250px;
    background-color: black;
    border: 1px solid white;
    padding-right: 12px;
}

header > #sortDiv > button {
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    letter-spacing: .01785714em;
    font-size: 1rem;
    font-weight: 400;
    padding: 11px 11px 11px 10px;
}

#mainDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    left: 145px;
    top: 84px;
}

/* Div containing album name and thumbnail */
#mainDiv > .album {
    position: relative;
    margin-bottom: 45px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

#mainDiv > .album:hover {
    cursor: pointer;
}

#mainDiv > .album:hover > .thumbnail > .dotsBtn {
    opacity: 1;
    transition: all .3s cubic-bezier(0, 0, .2, 1);
}

#mainDiv > .album > .thumbnail {
    margin: 0;
    padding: 0;
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #212121;
    border-radius: 4px;
}

.thumbnail > img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

#mainDiv > .album > .albumName {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: .0178571429em;
    font-weight: 500;
    margin-top: 7px;
    margin-left: 5px;
}
