* {
    scrollbar-width: none !important;
    --left-margin: 146px; /* For things with absolute positioning, how far to be away from left side of page */
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    left: var(--left-margin);
}

header > button {
    margin-top: 10px;
    margin-right: 12px;
}

#filter {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: var(--left-margin);
    z-index: 9999;
    background-color: black;
    top: 50px;
    border: 1px solid white;
}

#filter input, #filter label {
    margin-right: 6px;
}

#filter > label {
    user-select: none;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}

#filter > label:hover {
    background-color: rgba(211, 211, 211, 0.1);
}

header > input[type="text"] {
    color: black; /* Font */
    margin-top: 12px;
    margin-left: 0;
    width: 200px;
    font-size: 16px;
    margin-right: 11px;
}

header > #statusSpan {
    margin-top: 10px;
    margin-left: 10px;
}

#textAndAlbums {
    z-index: 9999;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 110px;
    border: 1px solid white;
    padding: 10px;
}

#mainDiv {
    position: absolute;
    left: 145px;
    top: 71px;
}

#mainDiv > .itemDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#mainDiv > .itemDiv > button {
    margin-left: 4px;
}

#mainDiv > .itemDiv > img, #mainDiv > .itemDiv > video {
    width: 4%;
    vertical-align: middle; /*https://stackoverflow.com/a/489394*/
}

#mainDiv > .itemDiv > img:hover { /*https://stackoverflow.com/a/25036868*/
    transform: scale(1.9);
    cursor: pointer;
}

#mainDiv > .itemDiv > span {
    margin-left: 10px;
}

#mainDiv > .itemDiv > .filenameSpan {
    width: 60px;
    overflow: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#mainDiv > .itemDiv > .filenameSpan:hover {
    width: auto;
}

#mainDiv > .itemDiv > input {
    width: 205px;
    color: black; /*Font color*/
    margin-left: 11px;
    border: none;
}

#mainDiv > .itemDiv > .infoSpan {margin-left: 13px; color: #00af00;}
#mainDiv > .itemDiv > .warnSpan {color: yellow;}
#mainDiv > .itemDiv > .errorSpan {color: red;}