* {
    scrollbar-width: none !important;
    --left-margin: 145px; /* For things with absolute positioning, how far to be away from left side of page */
    user-select: none;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    margin-left: var(--left-margin);
    height: 60px;
    background-color: black;
    border: 1px solid white;
    width: available;
    width: -moz-available;
    z-index: 999;
}

header > .iconBtn {
    margin-left: 5px;
    margin-right: 5px;
}

header > #headerMsg {
    color: red;
    position: absolute;
    left: 180px;
}

header > #buttons {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > #yearWarnInputs {
    position: absolute;
    left: 390px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > #yearWarnInputs > input[type="text"] {
    background-color: black;
    border: 1px solid white;
    width: 60px;
    margin-left: 5px;
}

header > #clearDTBtn {
    position: absolute;
    left: 710px;
}

#mainDiv {
    margin-left: var(--left-margin);
    position: absolute;
    display: flex;
    flex-direction: column;
}

#mainDiv > .errorDiv {
    border-radius: 4px;
    border-bottom: 2px solid red;
}