/* Index and Starred are basically the exact same page */
* {
    user-select: none;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    position: fixed;
    left: 146px;
    right: 0;
    top: 4px;
    z-index: 999;
}

header > #buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 55px;
}

header > span {
    font-size: 20px;
}

header > #selectedAmtText {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Only used for Starred obv */
header > #starredText {
    position: absolute;
    left: 43%;
}

h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    user-select: none;
}

#mainDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    left: 145px;
    top: 60px;
}