* {
    user-select: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 5px;
    left: 171px;
    height: 56px;
    width: 100%;
    padding-bottom: 6px;
    border-bottom: 1px solid gray;
    background-color: black;
}

header > span {
    font-size: 20px;
    margin-right: 10px;
}

header > select, header > input[type="number"] {
    margin-right: 10px;
    color: white;
    background-color: black;
    outline: 2px solid white;
    border: none;
}

header > #randomBtn {
    margin-left: 5px;
}

input[type='number'] {
    width: 40px;
}

h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    user-select: none;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 170px;
    top: 80px;
}

#mainDiv > span {
    font-size: 30px;
    display: block;
}

#mainDiv > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

#mainDiv > div > .thumbnail > .star-icon {
    position: absolute;
    left: 8px;
    bottom: 10px;
}

#mainDiv > div > .thumbnail > .video-icon {
    position: absolute;
    right: 8px;
    top: 10px;
}

#mainDiv > div > .thumbnail > img {
    height: 200px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}

#mainDiv > div > .thumbnail {
    position: relative; /* https://stackoverflow.com/a/12365963 */
}

#mainDiv > div > .thumbnail:hover {
    cursor: pointer;
}

#mainDiv > div > .thumbnail > img {
    height: 200px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}