#collectionSelectorBackground {
    position: fixed;
    width: 140%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.4);
    margin-left: -80px;
    z-index: 999999;
}

#collectionSelectorBackground > #collectionSelector { /* How to center a div: https://stackoverflow.com/a/23703655 */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 490px;
    height: 800px;
    z-index: 999999;
    border: 1px solid white;
}

#collectionSelector > #header {
    height: 50px;
    padding-top: 4px;
    padding-left: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#collectionSelector > #header > #buttons {
    position: absolute;
    right: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#collectionSelector > #collectionCreatorDiv {
    display: flex;
    align-items: center;
    position: absolute;
    height: 60px;
    width: 100%;
    left: 6px;
    top: 45px;
}

#collectionGroups {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 100px;
    height: 70px;
    width: 450px;
    left: 2px;
}

#collectionGroups > button {
    margin-right: 10px;
}

#collectionsSearch {
    display: flex;
    align-items: center;
    position: absolute;
    height: 60px;
    top: 153px;
    left: 8px;
}

#collectionsSearch > input[type="text"] {
    background-color: black;
    border: 1px solid white;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    width: 224px;
}

#collectionsSearch > .iconBtn {
    margin-left: 6px;
}

#collections {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 210px;
    left: 6px;
    width: 97.5%;
    height: 100%;
}

#collections > span {
    margin-bottom: 8px;
}

.collectionsList {
    margin-bottom: 12px;
    border: 1px solid white;
    padding-right: 2px;
    height: 255px;
    overflow-y: scroll;
}

.collectionsList > .collection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.collectionsList > .collection:hover {
    background-color: rgba(211, 211, 211, 0.1);
    cursor: pointer;
}

.collectionsList > .collection > .coverDiv {
    display: flex;
    width: 60px;
    height: 60px;
}

.collectionsList > .collection > img {
    object-fit: cover;
    width: 60px;
    height: 60px;
}

.collectionsList .collection input[type="checkbox"] {
    margin-left: 7px;
}

.collectionsList .collection span {
    margin-top: -1px;
    margin-left: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}