.importItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
    min-height: 60px;
}

.errorDiv > .importItem > .shortPath {
    color: red;
    margin-right: 10px;
}

.importItem > .shortPath {
    color: green;
    margin-right: 10px;
}

.importItem > .checkbox {
    opacity: 0;
    margin-left: 4px;
    margin-right: 10px;
}

.importItem > .checkbox:hover {
    cursor: pointer;
}

.importItem > .checked {
    color: #009FFF;
    opacity: 1;
}

.importItem:hover > .unchecked { /* Show checkbox on hover */
    opacity: 0.42;
    transition: 0.15s;
}

.importItem > .unchecked:hover { /* Make it 100% opaque */
    opacity: 1;
}

.importItem > .shortPath {
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.importItem > .shortPath:hover {
    max-width: initial;
    width: auto;
}

.importItem > img {
    width: 4%;
    margin-right: 10px;
}

.importItem > .importItem > img:hover {
    cursor: pointer;
}

.importItem > input[type="text"] {
    color: black;
    margin-left: 10px;
}

.importItem > .dateTakenDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.importItem > .yearWarn {
    color: yellow;
    margin-left: 10px;
    margin-right: 5px;
}

.importItem > select {
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    outline: none;
}

.importItem > select:active, .importItem > select:focus {
    outline: 2px solid dodgerblue;
}

.importItem > input[type="datetime-local"] {
    color: black;
    margin-left: 10px;
}