#noItemsDiv { /* Shown when no items are in user's PSS library. */
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    width: 100%;
}

#noItemsDiv > * {
    font-size: 40px;
    margin-right: 10px;
}

#libContentViewer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    left: 145px;
    top: 60px;
}

#libContentViewer > .thumbnail > .star-icon {
    position: absolute;
    left: 8px;
    bottom: 10px;
}

#libContentViewer > .thumbnail > .video-icon {
    position: absolute;
    right: 8px;
    top: 10px;
}

#libContentViewer > .thumbnail > .checkbox {
    opacity: 0;
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    transition: 0.3s;
}

#libContentViewer > .thumbnail:hover > .unchecked { /* Show checkbox on hover */
    opacity: 0.42;
}

#libContentViewer > .thumbnail > .unchecked:hover { /* Make it 100% opaque */
    opacity: 1;
}

#libContentViewer > .thumbnail > .checked {
    color: #009FFF;
    opacity: 1;
}

#libContentViewer > .thumbnail > img {
    height: 200px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}

#libContentViewer > .thumbnail {
    position: relative; /* https://stackoverflow.com/a/12365963 */
    cursor: pointer;
}

#libContentViewer > .thumbnail > .checkbox {
    opacity: 0;
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    transition: 0.3s;
}

#libContentViewer > .thumbnail:hover > .unchecked { /* Show checkbox on hover */
    opacity: 0.42;
}

#libContentViewer > .thumbnail > .unchecked:hover { /* Make it 100% opaque */
    opacity: 1;
}

#libContentViewer > .thumbnail > .checked {
    color: #009FFF;
    opacity: 1;
}

#libContentViewer > .thumbnail > img {
    height: 200px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}

#moreContentTopDiv {
    background-color: transparent;
    outline: 10px solid red;
    width: available;
    width: -moz-available;
    height: 600px;
    position: absolute;
    z-index: 800;
}

#moreContentBottomDiv {
    background-color: transparent;
    outline: 10px solid blue;
    width: available;
    width: -moz-available;
    height: 600px;
    position: absolute;
    z-index: 800;
    bottom: -200px;
}