#referenceBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(72, 71, 71, 0.41);
}

#referenceBackground > #reference {
    width: 400px;
    height: 400px;
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 2px solid white;
}

#referenceBackground > #reference > #header {
    position: fixed;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#referenceBackground > #reference > #header > span {
    font-size: 20px;
}

#referenceBackground > #reference > #allShortcuts {
    position: absolute;
    left: 28px;
    top: 65px;
    display: flex;
    flex-direction: column;
}

#referenceBackground > #reference > #allShortcuts > .shortcut {
    margin-bottom: 12px;
}

#referenceBackground > #reference > #allShortcuts > .shortcut > code {
    display: inline-block;
    text-align: right;
    background-color: rgba(211, 211, 211, 0.2);
}

#referenceBackground > #reference > #allShortcuts > .shortcut > span {
    margin-left: 10px;
}