@import "../../Mixins";

.importItem {
	@include flex-row;
	gap: 12px;
	margin-bottom: 6px;
	min-height: 60px;

	> .checkbox {
		
	}
	
	> img {
		width: 6%;
	}
	
	> span:first-of-type {
		max-width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		> &:hover {
			max-width: fit-content;
		}
	}
}