@import "../../Mixins";

.importItem {
	@include flex-row;
	@include available-width;
	gap: 12px;
	margin-bottom: 6px;
	min-height: 60px;

	> img {
		height: auto;
		width: 90px;
	}

	> span:first-of-type {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&.short {
			width: 220px;

			&:hover {
				min-width: 220px;
				width: auto;
			}
		}

		&.full { width: auto; }
	}

	.dateTakenDisplay {
		@include flex-col;
	}

	&:hover {
		> .checkbox { visibility: visible !important; }
		> select { display: inline; }
		> .starBtn { display: flex !important; }
		> textarea { display: inline !important; }
	}

	> select {
		display: none;
	}

	.starBtn:hover { background: none; }
	
	> textarea {
		height: 2.5em;
		width: 10em;
		min-height: 2.5em;
		min-width: 10em;
		resize: both;
	}
}
