@import "../../Shared";

#header {
	@include flex-row;
	position: fixed;
	width: auto;
	height: 50px;
	left: 400px;
	top: 6px;
	z-index: 9999;

	> .material-icons-outlined { margin-left: 20px; }

	> input[type="text"] {
		border: none;
		border-bottom: 2px solid black;
		border-radius: 0;

		&:hover {
			border-bottom: 2px solid #dadce0;
			transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		}

		&:focus-visible {
			border-bottom: 2px solid #4285f4;
			transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		}
	}

	> button { margin-left: 3px; }
}