@import "../../Mixins";

#date-picker {
	@include flex-row;
	gap: 12px;
	position: fixed;
	left: 40%;
	top: 5px;
	z-index: 9999;

	> span {
		font-size: 20px;
	}
}

main > .group > .checkbox > span:last-of-type { font-size: 24px !important; }