@import "../../Mixins";

#searchInput {
	@include available-width;
	@include flex-row;
	justify-content: center;
	margin-left: -10px; //TODO: I hate this. If (when?) we do the Grid layout, watch out for weird stuff like this.
	height: 60px;
	
	> input[type="text"] {
		z-index: 9999;
	}
}