* {
    user-select: none;
}

#inputBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(72, 71, 71, 0.41);
    z-index: 9999;
}

#inputBackground > #inputDiv {
    background-color: black;
    border: 1px solid white;
    width: 250px;
    height: 170px;
    z-index: 999;
}

#inputBackground > #inputDiv > #message {
    text-align: center;
    overflow-wrap: break-word;
    position: absolute;
    width: 95%;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

#inputBackground > #inputDiv > #buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#inputBackground > #inputDiv > #buttons > button {
    margin-left: 10px;
    height: 40px;
    min-width: 90px;
}