@import "../../Shared";

main {
	@include flex-main(row, 60px);
	flex-wrap: wrap;

	> .ungrouped { //https://css-tricks.com/adaptive-photo-layout-with-flexbox/
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	> .group {
		@include flex-col;
		margin-right: 25px;

		> span {
			font-size: 16px;
			margin-bottom: 4px;
		}

		> div {
			@include flex-row;
			flex-wrap: wrap;
			margin-bottom: 20px;
		}
	}
}