.thumbnail {
	position: relative; /* https://stackoverflow.com/a/12365963 */
	cursor: pointer;
	margin-right: 4px;
	
	> .star-icon {
		position: absolute;
		bottom: 8px;
		left: 8px;
	}
	
	> .video-icon {
		position: absolute;
		top: 8px;
		right: 8px;
	}

	> .checkbox {
		opacity: 0;
		position: absolute;
		top: 8px;
		left: 8px;
	}

	&:hover > .checkbox {
		opacity: 1;
	}
	
	> img {
		height: 200px;
	}
}
