@import "../../Shared";

header {
	@include page-header(0, 60px);

	button { margin-right: 12px; }

	span { font-size: 18px; }
}

main {
	@include flex-main(column, 90px);
	flex-wrap: wrap;

	> .backup {
		@include flex-row;
		height: 30px;
		margin-bottom: 20px;

		> span {
			font-size: 19px;
			margin-right: 30px;
			width: 270px;
		}
	}
}
