@import "../../Shared";

header {
    @include page-header(0, auto, 145px);
    margin-top: 10px;
}

header > button {
    margin-right: 12px;
}

header > span {
    font-size: 18px;
}

main {
    @include flex-main(column, 145px, 90px);
    flex-wrap: wrap;
}

main > .backup {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    margin-bottom: 20px;
}

main > .backup > span {
    font-size: 19px;
    margin-right: 30px;
    width: 270px;
}