@import "../../Shared";

header {
    @include page-header(0, auto, 145px);
}

main {
    @include main(70px, 145px);
    position: absolute;
}

main > .missingItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

main > .missingItem > .thumbnail {
    margin: 0;
    padding: 0;
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #212121;
    border-radius: 4px;
}

main > .missingItem > .thumbnail > img {
    object-fit: cover;
    width: 60px;
    height: 60px;
}

main > .missingItem > .info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main > .missingItem > .info > span {
    margin-left: 10px;
}