@import "../../Shared";

header {
    @include page-header(0, auto, 145px);
}

header > button {
    margin-top: 10px;
    margin-right: 12px;
}

main {
    @include main(70px);
}

main > .itemDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

main > .itemDiv > img {
    width: 4%;
}

main > .itemDiv > img:hover { /*https://stackoverflow.com/a/25036868*/
    transform: scale(1.9);
    cursor: pointer;
}

main > .itemDiv > span {
    margin-left: 10px;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main > .itemDiv > button {
    margin-left: 4px;
}