@import "../../Shared";

header {
	@include page-header(0, 60px);

	button {
		margin-right: 12px;
	}
}

main {
	@include flex-main(70px, column);

	> div {
		@include flex-row;
		@include available-width;
		margin-bottom: 10px;

		> img {
			width: 4%;

			&:hover { /*https://stackoverflow.com/a/25036868*/
				transform: scale(1.9);
				cursor: pointer;
			}
		}

		> span {
			margin-left: 10px;
			width: 300px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		> .iconBtn { margin-left: 4px; }
	}
}
