@import "../../Mixins";

.dropdownBtn {
    background-color: black;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 10px;

    > :first-child { padding-right: 10px; }

    &:hover { @include hover; }

    &:focus-visible {
        outline: 2px solid $AccentColor;
    }
}
