@import "../../Mixins";

.iconTextBtn {
	background-color: black;
	border: 1px solid white;
	border-radius: 4px;
	display: inline-flex;
	align-items: center;
	font-size: 1rem;
	padding: 10px;

	> :first-child {
		padding-right: 10px;
	}

	&:hover { @include hover; }

	&:focus-visible {
		border: 1px solid $AccentColor;
		outline: 2px solid $AccentColor;
	}
}
