/*404 page styling*/
.centeredDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -140px 0 0 -150px;
}

.centeredWhiteText {
    color: white;
    font-family: 'Product Sans';
    text-align: center;
}

.centeredBlueText {
    font-family: 'Product Sans';
    color: rgb(2, 97, 255);
    margin: auto;
    text-align: center;
    display: block; /*https://stackoverflow.com/questions/42669981/text-align-center-not-working-on-a-but-does-on-h1*/
}