/* Main albums page where user clicks album thumbnail they want to view items of */
* {
    color: white;
    user-select: none;
    font-family: 'Product Sans', sans-serif;
}

#mainDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    left: 145px;
    top: 60px;
    background-color: darkgreen;
}

/* Div containing album name and thumbnail */
#mainDiv > .album {
    background-color: darkslategrey;
    margin-bottom: 15px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

/* Div containing img and 3 dots button */
#mainDiv > .album > .thumbnail {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: darkblue;
}

#mainDiv > .album > .thumbnail > img {
    border-radius: 4px;
    object-fit: cover;
    width: 230px;
    height: 230px;
}

#mainDiv > .album > .albumName {
    height: 24px;
    font-size: 17px;
    margin-top: 5px;
    margin-left: 5px;
}
