/* Main albums page where user clicks album thumbnail they want to view items of */
* {
    color: white;
    user-select: none;
    font-family: 'Product Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 5px;
    left: 171px;
    height: 56px;
    width: 100%;
    padding-bottom: 6px;
    border-bottom: 1px solid gray;
    background-color: black;
}

header > #albumsText {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
    margin-left: 10px;
    margin-right: 40px;
}

header > button {
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-box-align: center;
    align-items: center;
    letter-spacing: .01785714em;
    font-family: Product Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    width: auto;
    padding: 11px 11px 11px 10px;
}

/* Proper spacing for buttons' text */
.btnText {
    padding-left: 11px;
    text-decoration: none;
}

header > input[type="text"] {
    width: 200px;
    font-size: 16px;
    margin-left: 12px;
    margin-right: 12px;
    color: black; /* Font color */
}

#sortBtn {
    position: absolute;
    right: 250px;
}

header > button:hover {
    background-color: rgba(211, 211, 211, 0.1);
    cursor: pointer;
}

#mainDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    left: 145px;
    top: 84px;
}

/* Div containing album name and thumbnail */
#mainDiv > .album {
    position: relative;
    margin-bottom: 45px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

#mainDiv > .album:hover {
    cursor: pointer;
}

#mainDiv > .album:hover > .thumbnail > .dotsBtn {
    opacity: 1;
    transition: all .3s cubic-bezier(0, 0, .2, 1);
}

/* Div containing img and 3 dots button */
#mainDiv > .album > .thumbnail {
    margin: 0;
    padding: 0;
    display: flex;
}

.thumbnail > img {
    border-radius: 4px;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 1px solid #212121; /* There's this weird border around images that gets hidden with this */
    background-color: #212121;
}

.thumbnail .dotsBtn {
    opacity: 0;
    position: absolute;
    top: 2px;
    right: 3px;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
}

.dotsBtn span {
    text-align: center;
}

.thumbnail > .dotsBtn:hover {
    background-color: rgba(211, 211, 211, 0.1);
    cursor: pointer;
}

#mainDiv > .album > .albumName {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: .0178571429em;
    font-weight: 500;
    margin-top: 7px;
    margin-left: 5px;
}
