* {
    color: white;
    user-select: none;
    font-family: 'Product Sans', sans-serif;
}

h1 {
    font-family: 'Product Sans', sans-serif;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    position: fixed;
    left: 146px;
    right: 0;
    top: 4px;
    z-index: 999;
}

header > #buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 55px;
}

header > button, header > #buttons > button, #albumRenameDiv > button {
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
}

header > span {
    font-size: 20px;
}

header > #selectedAmtText {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

header > button:hover, header > #buttons > button:hover, #albumRenameDiv > button:hover, #moreOptionsDiv > button:hover, #albumRenameDiv > button:hover { /* IDK why background color doesn't work when I just do header button:hover... */
    background-color: rgba(211, 211, 211, 0.1);
    cursor: pointer;
}

#moreOptionsDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 58px;
    right: 58px;
    background-color: black;
    border: 1px solid white;
    width: auto;
}

#moreOptionsDiv > button {
    width: 100%;
    border: none;
    background-color: black;
    display: flex;
    align-items: center;
    letter-spacing: .01785714em;
    font-family: Product Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 11px 12px 11px 10px;
}

button span ~ span, button svg ~ span {
    padding-left: 11px;
    text-decoration: none;
}

header > #albumRenameDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: auto;
    left: 20%;
}

#albumRenameDiv > input[type="text"] {
    color: white;
    background-color: black;
    border: 2px solid black;
    outline: none;
    font-size: 20px;
    width: 50%;
}

#albumRenameDiv > input[type="text"]:hover {
    border-bottom: 2px solid #dadce0;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}

#albumRenameDiv > input[type="text"]:focus {
    border-bottom: 2px solid #4285f4;
    transition: all .3s cubic-bezier(.4,0,.2,1);
}

#albumRenameDiv > button {
    margin-left: 3px;
}

#mainDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    left: 145px;
    top: 60px;
}

#mainDiv > .thumbnail:hover {
    cursor: pointer;
}

#mainDiv .thumbnail span { /* Checkbox icons */
    opacity: 0;
    height: 24px;
    width: 24px;
    position: absolute;
    color: #fff;
    margin-top: 8px;
    margin-left: 8px;
    transition: 0.3s;
}

#mainDiv .thumbnail:hover span.unchecked { /* Show checkbox on hover */
    opacity: 0.42;
}

#mainDiv .thumbnail span.unchecked:hover { /* Make it 100% opaque */
    opacity: 1;
}

#mainDiv .thumbnail .checked {
    color: #009FFF;
    opacity: 1;
}

#mainDiv .thumbnail img {
    height: 200px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}