/* Index and Starred are basically the exact same page */
* {
    user-select: none;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    position: fixed;
    left: 146px;
    right: 0;
    top: 4px;
    z-index: 999;
}

header > #buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 55px;
}

header > span {
    font-size: 20px;
}

header > #selectedAmtText {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Only used for Starred obv */
header > #starredText {
    position: absolute;
    left: 43%;
}

h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    user-select: none;
}

#mainDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    left: 145px;
    top: 60px;
}

#mainDiv > .thumbnail {
    position: relative; /* https://stackoverflow.com/a/12365963 */
    cursor: pointer;
}

#mainDiv > .thumbnail > .star-icon {
    position: absolute;
    left: 8px;
    bottom: 10px;
}

#mainDiv > .thumbnail > .checkbox {
    opacity: 0;
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    transition: 0.3s;
}

#mainDiv > .thumbnail:hover > .unchecked { /* Show checkbox on hover */
    opacity: 0.42;
}

#mainDiv > .thumbnail > .unchecked:hover { /* Make it 100% opaque */
    opacity: 1;
}

#mainDiv > .thumbnail > .checked {
    color: #009FFF;
    opacity: 1;
}

#mainDiv > .thumbnail > img {
    height: 200px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}