* {
    user-select: none;
}

#body {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#body > div {
    width: 40%;
    border: 3px solid white;
    padding: 13px 15px 0 10px;
    border-radius: 20px;
    margin-bottom: 25px;
}

#body > div > .header {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}

#body > div > button {
    display: inline-flex;
    margin-right: 5px;
    margin-bottom: 15px;
}

#body > div > .settings-pair {
    margin-top: 4px;
    margin-bottom: 10px;
}

#body > div > .settings-pair > span, #statsDiv > span {
    display: block;
    margin-bottom: 7px;
    padding: 0;
}

#body > div > .settings-pair > input[type="text"] {
    color: black;
    width: 100%;
}

#body > #debugDiv > div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#body > #debugDiv > div > input[type="text"] {
    color: black;
    width: 77%;
}