#settings-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    border: 3px solid white;
    padding: 20px 10px;
    border-radius: 20px;
}

#settings-div > div > span {
    color: white;
    font-family: 'Product Sans', serif;
    margin: 5px 0 0;
    padding: 0;
}

.settings-pair {margin-top: 4px;}
div > button {margin-top: 10px;}