/* This stuff is shared throughout the project */
/* Product Sans is the font throughout the project, and .material-icons is used for every icon I get from Google's fonts/icons website. */

/*This is probably illegal. Source: https://codepen.io/bennettfeely/pen/meymwg*/
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

* {
    --hover-color: rgba(211, 211, 211, 0.1);
    font-family: Product Sans, serif;
}

.iconBtn { /* Button with just an icon and no text */
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textBtn { /* Button with an icon and text (span inside button tag) */
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 11px;
}

.iconBtn:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}