* {
    color: white;
    user-select: none;
    font-family: 'Product Sans', sans-serif;
}

#inputDiv {
    background-color: black;
    border: 1px solid white;
    width: 250px;
    height: 170px;
}

#inputDiv > #message {
    text-align: center;
    overflow-wrap: break-word;
    position: absolute;
    width: 95%;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

#inputDiv > #buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#inputDiv > #buttons > button {
    margin-left: 10px;
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-box-align: center;
    align-items: center;
    letter-spacing: .01785714em;
    font-family: Product Sans, sans-serif;
    font-size: 1rem;
    height: 40px;
    min-width: 90px;
    font-weight: 400;
    padding: 11px;
}

#inputDiv > #buttons > button:hover {
    background-color: rgba(211, 211, 211, 0.1);
    cursor: pointer;
}

/*Add a little space to right of button icon*/
#inputDiv > #buttons > button > span ~ span {padding-left: 11px;}