/*Stuff for just View.razor*/

/*https://stackoverflow.com/questions/18490334/responsive-image-full-screen-and-centered-maintain-aspect-ratio-not-exceed-wi/18490463*/
/*Used for the img in View.razor*/
.imgView {
    left: 0;
    margin: auto;
    overflow: auto;
    position: absolute;
    right: 0;
    -o-object-fit: contain;
    object-fit: contain;
}

/*Used for zooming in/out in photo viewer*/
.zoomRange {
    width: 200px;
    position: fixed; /*https://stackoverflow.com/a/11399610*/
    right: 5px;
    top: 80px;
    opacity: 0.3;
    transition: .4s;
}

.range:hover {
    opacity: 0.7;
}

/*Buttons*/
/*These buttons all have a lot of stuff in common, so in their class="..." thing, I put this class and then the button's actual class*/
.icon_btn {
    color: white; /* Icon Color */
    background: none;
    border: none;
    font-family: Product Sans;
    text-align: center;
    line-height: 50%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
    position: absolute;
    width: 60px;
    height: 60px;
}

    .icon_btn:hover {
        background-color: rgba(211, 211, 211, 0.1);
        cursor: pointer;
    }

.back_btn {
    top: 3px;
    left: 0;
}

.reset_zoom_btn {
    right: 200px;
    top: 65px;
}
