/*Stuff for just View.razor*/

/*https://stackoverflow.com/questions/18490334/responsive-image-full-screen-and-centered-maintain-aspect-ratio-not-exceed-wi/18490463*/
/*Used for the img in View.razor*/
.imgView {
    left: 0;
    margin: auto;
    overflow: auto;
    position: absolute;
    right: 0;
    -o-object-fit: contain;
    object-fit: contain;
}

/*Used for zooming in/out in photo viewer*/
.zoomRange {
    width: 200px;
    position: fixed; /*https://stackoverflow.com/a/11399610*/
    right: 5px;
    top: 80px;
    opacity: 0.3;
    transition: .4s;
}

.range:hover {
    opacity: 0.7;
}

/*Buttons*/
/*These buttons all have a lot of stuff in common, so in their class="..." thing, I put this class and then the button's actual class*/
.round_view_icon_btn {
    color: white; /* Icon Color */
    background: none;
    border: none;
    font-family: Product Sans;
    text-align: center;
    line-height: 50%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

    .round_view_icon_btn:hover {
        background-color: rgba(211, 211, 211, 0.1);
        cursor: pointer;
    }

.back_btn {
    position: fixed;
    top: 3px;
    left: 2px;
}

.reset_zoom_btn {
    position: fixed;
    right: 200px;
    top: 68px;
    margin-right: 2px;
}

/*This seems pretty terrible but oh well*/
.delete_btn {
    position: fixed;
    right: 49px;
    top: 7px;
}

.star_btn {
    position: fixed;
    right: 97px;
    top: 7px;
}

/* 3 dots dropdown stuff: https://www.w3schools.com/howto/howto_css_dropdown.asp */
.three_dots_btn {
    position: fixed;
    right: 1px;
    top: 7px;
}

/*Div containing button you hover over and the div with the actual dropdown content*/
.dots-dropdown {
    display: inline-block;
    width: 252px;
    height: auto;
}

/*Div holding the a tags*/
.dots-dropdown-content {
    right: 0;
    top: 53px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 4px;
}

    .dots-dropdown-content a {
        font-family: 'Product Sans';
        color: black;
        padding: 12px 16px;
        padding-left: 5px;
        text-decoration: none;
        display: flex;
        word-break: break-all;
        word-break: break-word;
        word-wrap: break-word;
        -webkit-box-align: center;
        align-items: center;
    }

        .dots-dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dots-dropdown:hover .dots-dropdown-content {
    display: block;
}

/* Icons for the a elements */
.dropbtn-icon {
    margin: 2px;
    margin-right: 6px;
}

/* Info button dropdown stuff */
.info_btn {
    position: fixed;
    right: 145px;
    top: 7px;
}

.info-dropdown-icon {
    fill: #3c4043;
    fill: rgba(0, 0, 0, .54);
    position: absolute;
    padding-left: 12px;
    padding-top: 21px;
    padding-right: 12px;
}

/* Shared stuff between buttons in the info dropdown */
.info-dropdown-edit-btn {
    color: #3c4043;
    fill: #3c4043;
    background: none;
    border: none;
    font-family: Product Sans;
    text-align: center;
    line-height: 50%;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 150px;
}

    .info-dropdown-edit-btn:hover {
        background-color: rgba(211, 211, 211, 0.1);
        cursor: pointer;
    }

.info-dropdown-bigtext {
    font-family: 'Product Sans';
    position: absolute;
    padding-top: 15px;
    padding-left: 45px;
    letter-spacing: .00625em;
    font-weight: 400;
    color: #3c4043;
    font-size: 1rem;
}

.info-dropdown-smalltext {
    font-family: 'Product Sans';
    position: absolute;
    padding-top: 34px;
    padding-left: 45px;
    letter-spacing: .01428571em;
    font-weight: 400;
    color: #5f6368;
    font-size: .9rem;
}

.info-dropdown {
    display: inline-block;
}

.info-dropdown-content {
    height: 500px;
    width: 290px;
    right: 100px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
}

.info-dropdown:hover .info-dropdown-content {
    display: block;
}
