/*Stuff for just View.razor*/
* {
    color: white;
    user-select: none;
    font-family: 'Product Sans', sans-serif;
}

/*Buttons div in top right corner*/
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    position: absolute;
    right: 0;
    z-index: 999;
}

button {
    background: none;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 3px;
}

button:hover {
    background-color: rgba(211, 211, 211, 0.1);
    cursor: pointer;
}

#infoDiv {
    outline: 1px solid white;
    background-color: black;
    position: absolute;
    z-index: 999;
    top: 56px;
    right: 60px;
    width: 316px;
}

#infoDiv > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    height: 50px;
}

#infoDiv > div > svg {
    fill: white;
    margin-left: 15px;
    margin-right: 15px;
}

#infoDiv > div > span {
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 252px;
}

#moreOptionsDiv {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    right: 1px;
    top: 56px;
    z-index: 999;
    outline: 1px solid white;
}

#imgDiv {
    height: 98%;
    display: flex;
    align-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*https://stackoverflow.com/questions/18490334/responsive-image-full-screen-and-centered-maintain-aspect-ratio-not-exceed-wi/18490463*/
#imgDiv > img {
    height: 100%;
    overflow: auto;
    object-fit: cover;
}