@inject IJSRuntime JSRuntime

<div id="video-player">
	<video id="video" src="@Path" tabindex="0"></video>
	
	<div id="controls">
		<IconButton OnClick="@(() => JSRuntime.InvokeVoidAsync("togglePlaying"))" Icon="play_arrow"/>
		<input id="seek-slider" type="range" min="0" value="0" step="any" tabindex="-1"/>
		
		<div>
			<IconButton ID="mute-btn" OnClick="@(() => JSRuntime.InvokeVoidAsync("toggleMute"))" Icon="volume_up"/>
			<input id="volume-slider" type="range" min="0" max="1" value="1" step="any" tabindex="-1"/>
		</div>
		
		<IconButton OnClick="@(() => JSRuntime.InvokeVoidAsync("toggleFullscreen"))" Icon="fullscreen"/>
	</div>
</div>

@code {
	[Parameter, EditorRequired] public string Path { get; set; } = null!;
}