@page "/"

<div style="display: flex">
    @*@foreach (var media in mediaList)*@
    @*{*@
    @*<img src="\Pics and Vids\Test Pics\20210501_193043.jpg" style="max-width: 10%" />*@
    @*}*@

</div>


@code
{
    public List<Connection.Media> mediaList = LoadMediaTable();

    public static List<Connection.Media> LoadMediaTable()
    {
        Connection c = new Connection();
        List<Connection.Media> l = new();
        l = c.LoadMediaTable();
        @*c.InsertMedia("new path", DateTime.Now);*@
        @*List<Connection.Media> l = c.LoadMediaTable();*@
        return l;
    }
}