@inherits ToggleableComponent

<div id="fullscreen-viewer">
	<div id="content">

		<div class="sideButton">
			<IconButton Icon="arrow_back_ios"/>
		</div>

		<div id="item">
			<img src="mm_library/427520_20230320000602_1.png" alt=""/>
		</div>

		<div class="sideButton">
			<IconButton Icon="arrow_forward_ios"/>
		</div>
	</div>

	<div id="info" class="@(infoVisibility.Visible ? "visible" : "hidden")">
		<span>Info</span>

		<div title="Date Taken">
			<MaterialIcon Icon="photo_camera"/>
			<span>@DateTime.Now</span>
		</div>

		<div title="Date Added">
			<MaterialIcon Icon="cloud_upload"/>
			<span>@DateTime.Now</span>
		</div>
		
		<div title="Date Added">
        	<MaterialIcon Icon="image"/>
        	<span>text</span>
        </div>

		<textarea autocomplete="off" autocorrect="on" spellcheck="true" placeholder="Add a description"></textarea>
	</div>
</div>

<KeyboardShortcuts I="@infoVisibility.Toggle"/>

@code {

	private ElementVisibility infoVisibility = new(true);

	protected override void OnInitialized()
	{
		infoVisibility.Rerender = StateHasChanged;
	}

}