<link href="css/components/NavMenu.css" rel="stylesheet"/>

<nav>
	<NavLink class="navLink" href="/" Match="NavLinkMatch.All"><MaterialIcon Icon="home"/><span>Home</span></NavLink>
	<NavLink class="navLink" href="collections" Match="NavLinkMatch.All"><MaterialIcon Icon="photo_album"/><span>Collections</span></NavLink>
	<NavLink class="navLink" href="import" Match="NavLinkMatch.All"><MaterialIcon Icon="backup"/><span>Import</span></NavLink>
	<NavLink class="navLink" href="starred" Match="NavLinkMatch.All"><MaterialIcon Icon="star"/><span>Starred</span></NavLink>
	<NavLink class="navLink" href="no-dt" Match="NavLinkMatch.All"><MaterialIcon Icon="help_outline"/><span>No DT</span></NavLink>
	<NavLink class="navLink" href="memories" Match="NavLinkMatch.All"><MaterialIcon Icon="history"/><span>Memories</span></NavLink>
	<NavLink class="navLink" href="all-items" Match="NavLinkMatch.All"><MaterialIcon Icon="select_all"/><span>All Items</span></NavLink>
	<NavLink class="navLink" href="search" Match="NavLinkMatch.All"><MaterialIcon Icon="search"/><span>Search</span></NavLink>
    <NavLink class="navLink" href="trash" Match="NavLinkMatch.All"><MaterialIcon Icon="trash"/><span>Trash</span></NavLink>
    <NavLink class="navLink" href="settings" Match="NavLinkMatch.All"><MaterialIcon Icon="settings"/><span>Settings</span></NavLink>

    @if (Program.Debug)
    {
        <NavLink class="navLink" href="settings" Match="NavLinkMatch.All"><MaterialIcon Icon="bug_report"/><span>Test</span></NavLink>
    }
</nav>