@import "../../Mixins";

#fullscreen-viewer {
	@include flex-row;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background-color: black;

	> #content {
		@include available-width;
		position: relative;
		height: 100%;
		
		> #backButton {
			position: absolute;
			opacity: 0;
			top: 4px;
			left: 10px;
			z-index: 99999;
			transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
			
			&:hover { opacity: 1; }
		}
		
		> #buttons {
			@include flex-row;
			position: absolute;
			top: 4px;
			right: 20px;
			gap: 4px;
			z-index: 99999;
		}
		
		> .sideButton {
			position: absolute;
			width: 20%;
			top: 80px;
			bottom: 80px;
			z-index: 99999;

			&:hover {
				cursor: pointer;

				> .iconBtn {
					opacity: 1;
					transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
				}
			}

			&#leftBtn {
				left: 0;

				> .iconBtn { left: 28px }
			}

			&#rightBtn {
				right: 0;

				> .iconBtn { right: 28px }
			}

			> .iconBtn {
				position: absolute;
				top: 50%;
				margin-top: -28px;
				opacity: 0;
				background: rgba(66, 66, 66, 0.54);
			}
		}

		> #item {
			display: flex;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
			z-index: 999999;

			> img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	> #info {
		@include flex-col;
		height: 100%;
		transition: margin-right 0.35s cubic-bezier(0.4, 0, 0.2, 1);
		width: 350px;
		padding: 12px;
		border-left: 2px solid white;

		&.visible {
			margin-right: 0;
		}

		&.hidden {
			margin-right: -376px; //Width of info + (padding * 2) + border-left
		}

		> span {
			margin-top: 12px;
			margin-bottom: 16px;
			font-size: 18px;
		}
		
		> .field {
			@include flex-row;
			height: 50px;
			margin-bottom: 4px;

			> * {
				margin-right: 12px;
			}
			
			> span:last-of-type {
				width: 240px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}

		> textarea {
			@include available-width;
			border: 1px solid white;
			margin-top: 12px;
			margin-bottom: 12px;
			background-color: black;
			font-size: 16px;
			min-height: 1.2em;
			height: 3em;
			max-height: 10em;
			resize: vertical;

			&:focus {
				border: 1px solid $AccentColor;
				outline: 1px solid $AccentColor;
			}
		}
		
		> #collectionsContaining {
			@include flex-col;
			margin-top: 24px;
			
			> span { margin-bottom: 8px; }
			
			> div {
				@include flex-col;
				border: 1px solid white;
				gap: 12px;
				padding: 6px 0 6px 6px;
				max-height: 220px;
				overflow-y: scroll;

				> a {
					@include flex-row;
					
					> .cover {
						@include flex-justify-center;
						width: 60px;
						height: 60px;
						overflow: hidden;
						background-color: $CoverBackground;
						
						> img {
							width: 100%;
							height: 100%;
						}
					}
					
					> span { margin-left: 8px; }
				}
			}
		}
	}
	
	> .modalBackground > #dt-picker {
		@include flex-col;
		border: 2px solid white;
		padding-top: 8px;
		padding-left: 8px;
		border-radius: 4px;

		> div {
			@include flex-row;
			margin-right: 4px;
			margin-bottom: 4px;

			> .iconBtn {
				margin-left: 2px;
				margin-right: 2px;
			}
		}
	}
	
	> .modalBackground > #fileRename {
		@include flex-col;
		border: 2px solid white;
		border-radius: 4px;
		padding: 8px;
		width: 250px;
		height: auto;
		
		> input[type="text"] {
			margin-top: 8px;
			margin-bottom: 8px;
		}
		
		> div {
			@include flex-row;
			align-self: flex-end;
			margin-top: 8px;

			> .iconBtn {
				margin-left: 2px;
				margin-right: 2px;
			}
		}
	}
}