@*
Used on a lot of different pages like Home, Starred, CollectionView, Memories, Trash, etc. for displaying items in user's library, optionally grouping items together.
Content is dynamically loaded in small chunks as they scroll up or down the page.
Items can be selected, and depending on the page, different options may be applied to them, such as (un)starring, deleting, changing what collection(s) they are a part of, etc.
*@
@inherits Component

<link href="css/Components/LibraryContentViewer/LibraryContentViewer.css" rel="stylesheet"/>
<link href="css/Components/LibraryContentViewer/Thumbnail.css" rel="stylesheet"/>

<div id="top-load-div"></div>
<main>
	@{
		Func<MediaRow, dynamic?> sortFunction = mode switch 
		{
			LCVMode.None => row => row.dateTaken?.Date,
			LCVMode.Day => row => row.dateTaken?.Date,
			LCVMode.Month => row => new {row.dateTaken?.Month, row.dateTaken?.Year},
			LCVMode.Year => row => row.dateTaken?.Year,
			_ => throw new ArgumentOutOfRangeException()
		};

		string dateFormat = mode switch
		{
			LCVMode.None => "",
			LCVMode.Day => "ddd, MMM d, yyyy",
			LCVMode.Month => "MMM yyyy",
			LCVMode.Year => "yyyy",
			_ => throw new ArgumentOutOfRangeException()
		};
	}
	
	@if (mode == LCVMode.None)
	{
		<div>
			@foreach (MediaRow item in Content)
			{
				<Thumbnail Item="@item"/>
			}
		</div>
	}
	else
	{
		foreach (var group in Content.GroupBy(sortFunction))
		{
			<div>
				<span>@(group.First().dateTaken == null ? "No Date Taken" : group.First().dateTaken!.Value.ToString(dateFormat))</span>
				<div>
					@foreach (MediaRow item in group)
					{
						<Thumbnail Item="@item"/>
					}
				</div>
			</div>
		}
	}
</main>
<div id="bottom-load-div"></div>

@code {
	private List<MediaRow> Content { get; set; } = null!;

	private LCVMode mode = LCVMode.None;

	protected override async Task OnInitializedAsync()
	{
		Content = C.LoadEntireMediaTable();
	}
}