<div class="thumbnail">
	@if (Item.starred) { <MaterialIcon Icon="star" Class="star-icon"/> }
	@if (Item.video) { <MaterialIcon Icon="play_circle_outline" Class="video-icon"/> }
	<Checkbox Input="@Parent.SelectedItems.Contains(Item.uuid)" OnChange="@CheckClicked"/>
	<img src="data:image/jpg;base64,@Item.thumbnail" alt="@Item.path" @onclick="@ThumbnailClicked"/>
</div>

@code {
	[Parameter, EditorRequired]
	public required MediaRow Item { get; set; }
	
	[Parameter, EditorRequired]
	public required LibraryContentViewer Parent { get; set; }
	
	private bool selected;
	private bool Selected
	{
		get => selected;
		set
		{
			if (selected) Parent.SelectedItems.Remove(Item.uuid);
			else Parent.SelectedItems.Add(Item.uuid);
			
			selected = value;
			Parent.Rerender();
		}
	}
}

@functions {
	private void CheckClicked()
	{
		Selected = !Selected;
	}

	private void ThumbnailClicked()
	{
		if (Parent.SelectedItems.Count > 0)
			Selected = !Selected;
	}
}
