<div class="thumbnail">
	@if (Item.starred) { <MaterialIcon Icon="star" Class="star-icon"/> }
	@if (Item.video) { <MaterialIcon Icon="play_circle_outline" Class="video-icon"/> }
	<Checkbox/>
	<img src="data:image/jpg;base64,@Item.thumbnail" alt="@Item.path"/>
</div>

@code {
	[Parameter, EditorRequired]
	public required MediaRow Item { get; set; }
}