@import "../../Constants";

input[type=number] {
	background-color: black;
	border: 2px solid white;
	outline: none;
	font-size: 16px;
	border-radius: 4px;
}

input[type=number]:focus-visible {
	border: 2px solid $AccentColor;
	outline: none;
}

.hide-number-buttons {
	-moz-appearance: textfield;
}

.hide-number-buttons::-webkit-inner-spin-button, .hide-number-buttons::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
