@import "../../Constants";

input[type=text] {
	background-color: black;
	border: 2px solid white;
	outline: none;
	font-size: 16px;
	border-radius: 4px;
}

input[type=text]:focus-visible {
	border: 2px solid $AccentColor;
	outline: none;
}