#collectionCreator {
	display: flex;
	flex-direction: row;
	align-items: center;

	> input[type="text"] {
		margin-left: 6px;
		margin-right: 6px;
	}

	> #error {
		color: red;
		margin-right: 6px;
	}

	> div {
		display: flex;
		flex-direction: row;
		align-items: center;

		> input[type="checkbox"] { margin-left: 6px; }

		> label { margin-left: 1px; }
	}
}
