@import "../Shared";

main {
    @include flex-main(row, 60px);
    flex-wrap: wrap;
}

main > .spanAndRow {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

main > .spanAndRow > span {
    font-size: 16px;
    margin-bottom: 4px;
}

main > .spanAndRow > .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

main > .spanAndRow > .row > .thumbnail > .star-icon {
    position: absolute;
    left: 8px;
    bottom: 10px;
}

main > .spanAndRow > .row > .thumbnail > .video-icon {
    position: absolute;
    right: 8px;
    top: 10px;
    pointer-events: none;
}

main > .spanAndRow > .row > .thumbnail > .checkbox {
    opacity: 0;
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
}

main > .spanAndRow > .row > .thumbnail > .checked {
    color: #009FFF;
    visibility: visible;
    opacity: 1;
    transition: 0.3s; /* These transitions can't be in .checkbox because it causes them to very briefly be visible on initial page load. */
}

main > .spanAndRow > .row > .thumbnail > img {
    height: 200px;
}

main > .spanAndRow > .row > .thumbnail {
    position: relative; /* https://stackoverflow.com/a/12365963 */
    cursor: pointer;
    margin-right: 5px;
}

main > .spanAndRow > .row > .thumbnail:hover > .unchecked { /* Show checkbox on hover */
    opacity: 0.42;
    transition: 0.3s;
}

main > .spanAndRow > .row > .thumbnail > .unchecked:hover {
    opacity: 1;
    transition: 0.3s;
}

#moreContentTopDiv {
    background-color: transparent;
    outline: 10px solid red;
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 800;
}

#moreContentBottomDiv {
    background-color: transparent;
    outline: 10px solid blue;
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 800;
    bottom: -200px;
}