@import "../Mixins";

* { text-decoration: none; }

nav {
	left: 0;
	top: 0;
	position: fixed;
	overflow-y: scroll;
	scrollbar-width: none;
	width: 132px;

	&::-webkit-scrollbar { display: none; }

	> .navLink {
		padding-left: 10px;
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 47px;
		border: none;
		border-radius: 4px;
		white-space: nowrap;

		&:hover { @include hover; }

		> span + span, > svg + span { padding-left: 11px; }
	}

	> .active {
		background-color: rgb(0, 72, 255, 0.06);

		&:hover { background-color: rgb(0, 72, 255, 0.09); }

		> * {
			color: #0080ff;
			fill: #0080ff;
		}
	}

}