@*A blank page just for testing stuff*@
@page "/test"

<title>Test - MM</title>

@code
{
	protected override void OnInitialized()
	{
		Compressor.Enqueue(new ImportItem("C:/Users/Elliott/Pictures/MemoryMosaic_Debug/mm_import/VID_20200622_125513.mp4"));
	}
}
