/* Re-usable component for allowing user to choose the date taken they want LCV to start at. */
#ctrlGInput {
    padding: 12px 12px 6px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

#ctrlGInput > span {
    margin-bottom: 4px;
}

#ctrlGInput > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ctrlGInput > div > input[type="date"] {
    color: black;
    width: 108px;
}

#ctrlGInput > div > button {
    margin-left: 6px;
}