* {
    user-select: none;
}

#body {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#body > div {
    width: 40%;
    border: 3px solid white;
    padding: 13px 15px 0 10px;
    border-radius: 20px;
    margin-bottom: 25px;
}

#body > div > .header {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}

#body > div > button {
    display: inline-flex;
    margin-right: 5px;
    margin-bottom: 15px;
}

#body > div > .text-setting {
    margin-top: 4px;
    margin-bottom: 10px;
}

#body > div > .text-setting > span, #statsDiv > span {
    display: block;
    margin-bottom: 7px;
    padding: 0;
}

#body > div > .text-setting > input[type="text"] {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
}

#body > div > .toggle-setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;
}

#body > div > .toggle-setting > input[type="checkbox"] {
    margin-right: 4px;
}

#body > div > #thumbnail-settings {
    margin-bottom: 8px;
}

#body > div > #thumbnail-settings > #thumbnail-slider {
    display: flex;
    flex-direction: column;
}

#body > div > #thumbnail-settings > #thumbnail-slider > input[type="range"] {
    width: 180px;
    margin-bottom: 7px;
}

#body > div > #thumbnail-settings > #thumbnail-updating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#body > div > #thumbnail-settings > #thumbnail-updating > span {
    margin-left: 8px;
}

#body > div > #thumbnail-settings > #thumbnail-updating > progress {
    margin-left: 2px;
    width: 180px;
}

#body > #debugDiv > div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#body > #debugDiv > div > input[type="text"] {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    width: 77%;
}