* {
    user-select: none;
}

h1 {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    user-select: none;
}

header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    position: fixed;
    left: 145px;
    right: 0;
    z-index: 999;
    height: 60px;
}

header > #selectedAmtText {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

header > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    right: 20px;
}

header > div > .iconTextBtn {
    margin-left: 10px;
}

header > #sortDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 54px;
    right: 330px;
    background-color: black;
    border: 1px solid white;
    z-index: 9999;
}

#sortDiv > button {
    width: 100%;
    border: none;
    background-color: black;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 11px;
}

#sortDiv > button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}