@page "/"
@namespace PSS.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <!-- Basic Boilerplate -->
    <meta charset='utf-8'>
    <title>PSS</title>
    <link rel="icon" href="gphotos icon.png">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/PSS.css'>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Roboto font: https://fonts.google.com/specimen/Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body style="background-color: black; margin-left: 0px; margin-top: 0px;">
    <div style="align-content: space-between;">
        <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xe3f4;</span><span class="icon_btn_text" href="Google.com">Photos</span></button>
        <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xe411;</span><span class="icon_btn_text" href="Google.com">Albums</span></button>
        <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xf06f;</span><span class="icon_btn_text" href="Google.com">Starred</span></button>
        <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xe92e;</span><span class="icon_btn_text" href="Google.com">Trash</span></button>
        <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xe8b6;</span><span class="icon_btn_text" href="Google.com">Search</span></button>
        <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xe2c3;</span><span class="icon_btn_text" href="Google.com">Upload</span></button>
        <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xe8b8;</span><span class="icon_btn_text" href="Google.com">Settings</span></button>
    </div>

</body>
</html>
