@page "/albums"
@using static PSS.Backend.Connection

<link href="css/AlbumsMain.css" rel="stylesheet">

<div id="mainDiv">
    @foreach (Album album in albums)
    {
        <div class="album"> @*Text and album thumbnail*@
            <div class="thumbnail"> @*img and 3 dots*@
                <img src="@PSS.Settings.requestPath/@album.albumCover" alt=""/>
            </div>
            <span class="albumName">@album.name</span>
        </div>
    }
</div>

@code
{
    private static List<Album> albums;

    protected override void OnInitialized()
    {
        albums = GetAlbumsTable();
    }
    
}