@*Used for photo viewer. Hides side NavBar. https://stackoverflow.com/questions/59518988/disable-layout-for-page-under-blazor*@
@inherits LayoutComponentBase

<div>
    <div>
        @Body
    </div>
</div>