@page "/"

@inherits LayoutComponentBase
<div style="align-content: space-between;">
    <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xe3f4;</span><span class="icon_btn_text" href="Google.com">Photos</span></button>
    <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xe411;</span><span class="icon_btn_text" href="Google.com">Albums</span></button>
    <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xf06f;</span><span class="icon_btn_text" href="Google.com">Starred</span></button>
    <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xe92e;</span><span class="icon_btn_text" href="Google.com">Trash</span></button>
    <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xe8b6;</span><span class="icon_btn_text" href="Google.com">Search</span></button>
    <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xe2c3;</span><span class="icon_btn_text" href="Google.com">Upload</span></button>
    <button onclick="location.href='Google.com'" type="button" class="icon_btn"><span class="material-icons">&#xe8b8;</span><span class="icon_btn_text" href="Google.com">Settings</span></button>
</div>
