@page "/"
@using static PSS.Backend.Connection

@*TODO?: https://css-tricks.com/snippets/css/complete-guide-grid/*@

<link href="css/IndexNew.css" rel="stylesheet"/>

@{
    if (mediaList.Count == 0)
    {
        <h1>Looks empty here...<br/>Upload some items to get started.</h1>
    }
    else
    {
        <div id="mainDiv">
            @foreach (MediaRow media in mediaList)
            {
                <div class="thumbnail">
                    <span @onclick="(() => ToggleCheck(media.uuid))" id="@media.uuid" class="material-icons unchecked">check_circle</span>
                    <img style="color: white" src="@PSS.Settings.requestPath/@media.path" onclick="location.href = '/view/@media.uuid'" alt="@PSS.Settings.requestPath/@media.path" loading="lazy"/>
                </div>
            }
        </div>
    }
}

@code {
    private static readonly List<MediaRow> mediaList = LoadMediaTable();
    private static List<Guid> selectedItems = new(); //Stores Guids of all items user selected. If unchecked, removed from list.

    [Inject] //https://code-maze.com/how-to-call-javascript-code-from-net-blazor-webassembly/
    public IJSRuntime JSRuntime { get; set; }

    private async Task ToggleCheck(Guid uuid)
    {
        string newClass = await JSRuntime.InvokeAsync<string>("toggleCheck", uuid);
        if (newClass.Contains("checked"))
            selectedItems.Add(uuid);
        else
            selectedItems.Remove(uuid);
    }

}