@page "/"
@using PSS.Backend

@{
    if (mediaList.Count == 0)
    {
        <h1 class="centeredWhiteText">Looks empty here...<br />Upload some items to get started.</h1>
    }
    else
    {
        <div style="display: flex">
            @foreach (Media media in mediaList)
            {
                <img onclick="location.href = '/view/@media.uuid'" id=@media.uuid src=@media.path class="thumbnail" alt="" />
            }
        </div>
    }
}

@code {
    private readonly List<Media> mediaList = Connection.LoadMediaTable();
}
