@page "/"
@using PSS.Backend

@foreach (Media media in mediaList)
{
    <a href="https://www.Google.com"><img src=@media.path style="max-width: 8.5%; padding: 4px" alt="" /></a>
}

@{
}

@code {
    private readonly List<Media> mediaList = Connection.LoadMediaTable();
}
