@page "/"
@using static PSS.Backend.Connection
@using PSS.Backend

@*TODO?: https://css-tricks.com/snippets/css/complete-guide-grid/*@

<link href="css/IndexNew.css" rel="stylesheet" />

@{
    if (mediaList.Count == 0)
    {
        <h1 class="indexCenteredWhiteText">Looks empty here...<br />Upload some items to get started.</h1>
    }
    else
    {
        <div id="mainDiv">
            @foreach (MediaRow media in mediaList)
            {
                <img style="color: white" src=@media.path onclick="location.href='/view/@media.uuid'" class="thumbnail" alt="@media.path" />
            }
        </div>
    }
}

@code {
    private readonly List<MediaRow> mediaList = LoadMediaTable();
}