@page "/"
@using PSS.Backend

<div style="display: flex">
    @foreach (Media media in mediaList)
    {
        <img src=@media.path class="thumbnail" alt="" />
    }
</div>

@*<div style="visibility: hidden">

</div>*@

@{
}

@code {
    private readonly List<Media> mediaList = Connection.LoadMediaTable();
}
