@page "/"
@using PSS.Backend

<div style="display: flex">
    @foreach (Media media in mediaList)
    {
        <img onclick='changeSize("@media.uuid");' id=@media.uuid src=@media.path class="thumbnail" alt="" />
    }
</div>

@*TODO: add preview div thing here?*@

@{
}

@code {
    private readonly List<Media> mediaList = Connection.LoadMediaTable();
}
