@*A blank page just for testing stuff*@
@page "/test"
@using PSS.Backend
@* @layout EmptyLayout *@

<title>Test</title>

<TwoChoiceInput @bind-TwoChoiceVis="@hello" YesBtnClick="@Yes" NoBtnClick="@(() => Console.WriteLine("no"))" Message="Delete Selected Items?"/>

@code {
    private static string hello = "visible";

    private void Yes()
    {
        hello = "hidden";
        StateHasChanged();
    }

}