@*A blank page just for testing stuff*@
@page "/test"
@using static PSS.Backend.Connection
@using PSS.Backend
@* @layout EmptyLayout *@

<title>Test</title>

<button style="margin-left: 50%;" @onclick="@(() => UpdateDateTaken(GetPathFromUuid("2dc3492e-6139-11ec-90c6-04421acfc461"), new DateTime(2013, 4, 5)))">click me</button>

@code {
   
}