@*A blank page just for testing stuff*@
@page "/test"
@using System.IO

<title>Test</title>

@{
    string[] paths = Directory.GetDirectories(PSS.Settings.uploadRootPath, "*", SearchOption.AllDirectories);

    paths = paths.Reverse().ToArray(); //Start at deepest folder and work up (to avoid dir not found errors).
    foreach (string path in paths)
        if (Backend.Maintenance.IsFolderEmpty(path)) Directory.Delete(path, true);
}