@*A blank page just for testing stuff*@
@page "/test"
@using static PSS.Backend.Connection
@using PSS.Backend
@* @layout EmptyLayout *@

<title>Test</title>

<button style="margin-left: 50%;" @onclick="@(() => UpdateStarred(@"2021\12 December\FF8EyTQWUAojmvr.jpg", true))">click me</button>

@code {
   
}