@*A blank page just for testing stuff*@
@page "/test"

<title>Test</title>
@{
    Metadata.GetDateTaken("C:/Users/Elliott/Documents/GitHub/Photos-Storage-Server/PSS/wwwroot/pss_upload/VID_20211218_154247.mp4", out DateTime yes);
    Console.WriteLine(yes);
}