@*A blank page just for testing stuff*@
@page "/test"

<title>Test</title>
@* *@
@* @{ *@
@*     <KeyboardShortcuts ctrlDAction="@(() => Console.WriteLine("jdgfhj"))" *@
@*                        ctrlEAction="@(() => Console.WriteLine("eeeeeeeeeeeeeeeeeeee"))" *@
@*     ></KeyboardShortcuts> *@
@* } *@
@* *@
@* @code { *@
@*     KeyboardShortcuts ks = new(); *@
@* } *@