@*A blank page just for testing stuff*@
@page "/test"
@using PSS.Backend
@layout EmptyLayout

@{
    string yes = "new album 59";
    <button @onclick="() => Connection.CreateAlbum(yes)">click me</button>
} 