@*Page for viewing full-sized images*@
@page "/view/{id}"
@using PSS.Backend
@layout EmptyLayout

@{
    string path = Connection.GetPathFromUuid(id);
    if (path == "null") //If URL contains a UUID that isn't present in the database.
    {
        <NavMenu />
        <Error />
    }
    else
    {
        <img class="imgView" style="height: 100%" src="@Connection.GetPathFromUuid(id)" alt="" />
        <input autocomplete="off" type="range" min="100" max="275" value="100" step="5" oninput="document.querySelector('img').style.height = (this.value + '%')" class="range">
        
        <button onclick="window.history.back();" class="circle_icon_btn"><span class="material-icons" style="font-size: 30px">west</span></button> @*Back button*@
    }
}

@code {
    [Parameter]
    public string id { get; set; }
}
